body{
  padding:0;
  margin:0;
  font-family: Helvetica, sans-serif;
  background: PaleGoldenRod;
}

nav{
  /* --- New Color for the NAV --- */
  background: rgb(255, 255, 255, 0.3);
  /* background: grey; */
  /* height: 60px; */
  text-align: right;
  font-family: Baloo 2, cursive;
}

nav a{
  height: inherit;
  text-align: center;
  color: black;
  font-size: 1.5em;
  padding: 2px;
  margin: 8px;
  display: inline-block;
  text-decoration: none;
}

nav a:hover{
  text-decoration: underline;
}


/* styles for hero or feature */
.hero{
  background-image: url("editorial_winner_edit.jpg");
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  /* background stuff above */
  /* moving text below */
  position: relative;
}
.hero h2{
  position:absolute;
  top:1%;
  left:3%;
  color: PaleGoldenRod;
  font-size: 2.5em;
  font-family: Antonio, sans-serif;
}
.hero h3{
  position: absolute;
  top: 13%;
  left: 10%;
  color: LightGoldenRodYellow;
  font-size: 2em;
  font-family: Antonio, sans-serif;
}
.hero h4{
  position:absolute;
  top:25%;
  left:10%;
  color: white;
  font-size: 1.2em;
  font-family: Montserrat, sans-serif;
}

button{
  position: absolute;
  top: 68%;
  left: 3%;
  background: none;
  padding:5px;
  border: 2px PaleGoldenRod solid;
  color: LightGoldenRodYellow;
  font-size: 1.6em;
  font-family: Baloo 2, cursive;
  border-radius: 5px;
}


main{
  margin: 10px auto;
}

.logo{
  margin-left: auto;
  margin-right: 0; 
  width: 100%;
  max-width: 200px;
  height: auto;
}

img{
    width: 100%;
    display: block;
    margin: 0;
    border:0;
}

footer{
    background: black;
    padding: 40px;
}

footer p{
    color: white;
}

footer a{
    color: white;
}


/* medium size below */
@media screen and (min-width: 700px) {
        .logo{
          /* width: 350px; */
        }
        img{
            display:inline;
            width:30%;
        }
        .flexItem{
            /* margin:20px; */
            justify-content: space-space-around;
        }


}
/* large screen styles below */
@media screen and (min-width: 1300px) {
  img{

  }
}
